<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <a target="blank" href="https://drive.google.com/file/d/1Nb3V3mWSJbd-NC6MjJRG5pUEFDY9Fubx/view?usp=sharing"> <button
      class="btn download">
      <h4>Download Resume</h4>
    </button></a>
  <div class="content" id="resume">
    <div class="header cat">
      <h5><strong>Isaac Wangombe</strong> </h5>
      <p><strong>Nairobi, Kenya</strong></p>
      <p><strong>+254 706 551542</strong></p>
      <p><strong>isaacwangombe5@gmail.com</strong></p>
    </div>
    <div class="profile cat">
      <h5>Professional profile</h5>
      <p>A full-stack developer with a deep passion for computing and software, solid foundational skills in finance,
        training in
        Python, Javascript, HTML and CSS. Strengths and experience in software design, sales, and project management.
        Seeking to
        use technology to develop innovative solutions that solve real world problems.</p>

    </div>
    <div class="career cat">
      <h5>Career Summary</h5>
      <div class="career-container cat">
        <div class="title">
          <h6 class="company"><strong>Oct 2020 - Oct 2021</strong></h6>
          <h6 class="school"><strong>Procter and Gamble (P&G), Kenya</strong><br> Sales Management Associate</h6>
        </div>
        <h6 class="outline-title"><i>Outline</i></h6>
        <p class="outline">Reporting to the Managing Director, I managed client's portfolios by developing brand
          strategies, organising marketing
          campaigns, and developing partnerships to grow brand visibility.</p>
        <h6 class="core-title"><i>Core skills</i></h6>
        <p class="core">Presentation design and enhancement; marketing; sales; relationship management; client
          relations;
          team collaboration;
          creativity; planning and organisational skills; communication; flexibility; entrepreneurial skills</p>

        <h6 class="impacts-title"><i>Key impacts</i></h6>
        <u class="impacts">
          <li>Developed a company sales pitch, organised cold calls and led pitch meetings, contributing to a 300%
            increase in the
            company's client base;</li>
          <li>Showcased clients brands to various audiences through organising television and radio appearances, talks,
            and events,
            which increased reach of some clients by up to 30%;</li>
          <li>Maintained regular dialogue with partners, developed partnership proposals, and led partnership meetings,
            securing brand
            partnerships for clients;</li>
          <li>Assisted senior management in managing client portfolios, including proposals and documentation;</li>
          <li>Created a partnership database of more than 500 industry contacts by developing and maintaining contacts
            and
            working
            relationships with individuals and organisations relevant to the company's operations .</li>
        </u>
      </div>
      <div class="career-container cat">
        <div class="title">

          <h6 class="company"><strong>Jan 2019 - Dec 2019</strong></h6>
          <h6 class="school"><strong>The Catapult Agency</strong><br>Talent Manager</h6>

        </div>

        <h6 class="outline-title"><i>Outline</i></h6>
        <p class="outline">Reporting to the Head of Traditional Trade, I managed various department projects,
          developed
          new
          systems, and managed
          the sales team. I acted as a liaison between P&G and the company's product distributor towards successful
          achievement of
          sales targets of the Traditional trade department.</p>
        <h6 class="core-title"><i>Core skills</i></h6>
        <p class="core">Management; system development; sales; problem solving; communication; interpersonal skills;
          relationship management;
          computer skills; team collaboration; creativity; planning and organisational skills; flexibility</p>

        <h6 class="impacts-title"><i>Key impacts</i></h6>
        <u class="impacts">
          <li>Developed and maintained the company's first Traditional Trade display verification system. The system
            was
            launched and
            deployed across 5 regions nationally, with a 91% reach of the company's stores</li>
          <li>Developed and maintained the company's first Traditional Trade direct customer messaging system. The
            system
            facilitated
            communication with over 91% through direct messaging</li>
          <li>Deployed, trained and led the sales team in executing a loyalty program that that increased products'
            store
            presence by
            96%</li>
          <li>Coordinated the launch event of the company's largest new product across 5 regions with an audience of
            650
            staff and key
            customers</li>
          <li>Ensured smooth relationships and collaboration between the company and its distributor company.</li>
        </u>
      </div>

    </div>
    <h5>Education and Training</h5>

    <div class="education cat">
      <div class="title">
        <p class="date"><strong>Dec 2022 - July 2023</strong></p>
        <p class="school"><strong>:Moringa School, Kenya</strong><br>Bootcamp in software development</p>
      </div>
      <div class="title">
        <p class="date"><strong>Oct 2020 - July 2023</strong></p>
        <p class="school"><strong>:Strathmore University, Kenya</strong><br>M.Sc. Development Finance</p>
      </div>
      <div class="title">
        <p class="date"><strong>Jan 2016 - Dec 2019</strong></p>
        <p class="school"><strong>:Jomo Kenyatta University of Agriculture and Technology, Kenya</strong><br>Bachelor of
          Commerce (B.Com), Finance option, Second-class Honours (Upper Division)</p>
      </div>
      <div class="title">
        <p class="date"><strong>May 2017</strong></p>
        <p class="school"><strong>:International Sustainability School, Nepal</strong><br>Sustainability training
          program
          organised by Hands-on-Institute</p>
      </div>
      <div class="title">
        <p class="date"><strong>Sep 2017 - Dec 2017</strong></p>
        <p class="school"><strong>:Lapid Leaders Program, Kenya</strong><br>Leadership training program organised by
          Lapid Leaders Kenya</p>
      </div>
    </div>
    <div class="languages cat">
      <h5>Languages</h5>
      <p><strong>Languages: </strong>HTML, CSS, Javascript, Python</p>
      <p><strong>Frameworks and Libraries: </strong>React Js, React Native, Ajax, jQuery,Angular, Django, Flask</p>
      <p><strong>Office tools: </strong>Canva, Microsoft Office (Word, Excel, PowerPoint, Publisher); Adobe Creative
        Suite
        (Photoshop, Lightroom, Premier-Pro,
        After Effects); SAP Solutions; Outlook; Google Ads; Google Suites (Docs, Sheets, Slides, Keep, Forms); Lotus
        Notes
      </p>
    </div>

    <div class="volunteer cat">
      <h5>Key volunteer activities</h5>
      <p><strong>July 2019 - Nov 2019: </strong>Peer coach, Lapid Leaders Program</p>
      <p><strong>Sep 2016 - Dec : </strong>Volunteer, Hope House Babies children's home</p>
      <p><strong>Sep 2015: </strong>Event coordinator, Love matters
      </p>
      <p><strong>Dec 2007 - Jan 2008: </strong>Volunteer, Jamhuri Show Grounds, Internal Displaced Persons Camp during
        Post-Election Violence</p>

    </div>
  </div>
</body>

</html>