<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>


<body>


  <section>
    <div class="container">
      <div class="headings" id="home">
        <div class="head">
          <h5>ISAAC MARIGA WANGOMBE</h5>
          <div>
            <h1 class="title-heading">PORTFOLIO</h1>
          </div>

        </div>

        <img class="heading-img" src="assets/images/me.jpeg" alt="">
      </div>
      <div class="heading-text">
        <img class="heading-img2" src="assets/images/comp1.jpg" alt="">
        <p>“Modern technology has become a total phenomenon for civilization, the defining force of a new social order
          in which
          efficiency is no longer an option but a necessity imposed on all human activity.”<br> <strong>― Jacques
            Ellul</strong></p>

      </div>

    </div>
    <div class="buttons">
      <a href="#about">
        <h5 class="btn">About Me</h5>
      </a>
      <a href="#projects">
        <h5 class="btn">Projects</h5>
      </a>
      <a target="blank" [routerLink]="'resume'">
        <h5 class=" btn">Resume</h5>
      </a>
    </div>
    <br>

    <div class="about-footer">
      <h6>ISAAC WANGOMBE</h6>
      <div> </div>
      <h6>SOFTWARE DEVELOPER PORTFOLIO</h6>
    </div>
  </section>

  <section>
    <div class="container" id="about">
      <div class="about-header-container">
        <h1 class="about-header">WHO AM I</h1>
        <span>
          <img class="about-header-icon" src="assets/images/sun.png" alt=""></span>
      </div>
      <div class="about">
        <img class="about-img" src="assets/images/comp2.jpg" alt="">
        <p class="about-text">A developer with a deep passion for computing and software, solid foundational skills in
          finance and training
          as a full stack developer in HTML, CSS, Javascript and Python, with additional strengths and experience
          in design, sales and project management. I am looking to use technology to develop innovative solutions that
          solve real world problems</p>
      </div>

    </div>
    <div class="buttons">
      <a href="#projects">
        <h5 class="btn">Projects</h5>
      </a>
      <a target="blank" [routerLink]="'resume'">
        <h5 class="btn">Resume</h5>
      </a>
    </div>
    <br>
    <div class="about-footer">
      <h6>ISAAC WANGOMBE</h6>
      <div> </div>
      <h6>SOFTWARE DEVELOPER PORTFOLIO</h6>
    </div>
  </section>
</body>
<app-projects></app-projects>

</html>