* {
  text-decoration: none;
  list-style-type: none;
}
p,
li {
  font-family: "Lato", sans-serif;
  font-size: min(1rem, 4vw);
  line-height: 1.5;
}
h1 {
  font-size: 8vw;
  font-family: "Playfair Display", serif;
}
/* h2 {}
h3 {}
h4 {} */

h3 {
  font-size: min(3rem, 6vw);
  font-family: "Playfair Display", serif;
}

h5,
label {
  font-size: min(1.5rem, 3vw);
  font-family: "Playfair Display", serif;
}
h6 {
  font-size: 1.5vw;
  font-family: "Playfair Display", serif;
}
body {
  padding-top: 100px;
  background-color: #f4ebd9;
  text-align: justify;
}

.star {
  /* font-size: 8vw; */
  font-size: 3rem;

  color: #ffffffb9;
}
.filled {
  color: #028115;
}

.rating {
  padding: 5px;
}
li:before {
  content: "\2738";
}

.container {
  display: grid;
  place-items: start center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20vw;
  height: 100%;
}

.half {
  width: 35vw;
  padding-top: 70px;
}
.half2 {
  width: 35vw;
}
.image {
  width: 35vw;
  border-radius: 0px 40px;
  box-shadow: 10px 10px 8px rgb(178, 178, 178);
}

@media only screen and (max-width: 992px) {
  .half2 {
    display: grid;
    grid-row: 1;
    width: 80vw;
  }
  .half {
    width: 80vw;
  }
  .image {
    width: 80vw;
  }
  .container {
    display: grid;
    width: 100vw;
    gap: 5rem;
  }
}

.image-container {
  margin: 50px 0px 50px 0px;
}

form {
  border-radius: 10px;

  padding: 30px;
  background-color: #25a9e128;
  box-shadow: 10px 10px 8px rgb(178, 178, 178);
}

/* buttons */
.buttons {
  display: flex;
  place-content: center;
}

.btn {
  white-space: nowrap;
  overflow: hidden;
  padding: 1vw;
  display: grid;
  place-items: center;

  color: #fff;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.btn:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

btn:focus {
  outline: none;
}

.btn {
  background-image: linear-gradient(
    to right,
    #25aae1,
    #4481eb,
    #04befe,
    #3f86ed
  );
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
